*{
    margin:0;
    border:0;
}

/*Document*/
body{
    background-color: #2d132c;
    color:#ee4540;
    text-align:center;
    font-family:'Oxygen',sans-serif;
}

header{
    background-color: #801336;
}

main{
    max-width: 840px;
    min-width: 60%;
    margin:0 auto;
    min-height:85vh;
}

main p{
    padding:0.5em 0;
}

footer{
    background-color: #801336;
    position:relative;
    bottom:0;
    width:100%;
}

h1{
    font-size:2.5rem;
    padding:0.4em 0;
    font-family:'Roboto Condensed','Oxygen',sans-serif;
}

a{
    color:#ee4540;
    text-decoration:none;
}

a img{
    height:1em;
    padding-right:0.2em;
}

#topMsg{
    height:1em;
}

/*Minesweeper Grid*/

:root {
    --grid-cols: 1;/*Default variable values*/
    --grid-rows: 1;
}

#gridContainer{
    margin:25px auto 50px auto;
    display:grid;
    grid-gap:0;
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    width:calc(36px * var(--grid-rows));
    height:calc(36px * var(--grid-cols));
}

.cell{
    background-color:#801336;
    border:1px #2d132c solid;
    width:34px;
    height:34px;
}